body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Боковая панель */
.sidebar {
    padding: 20px;
    color: #e6e6e6; /* Белый текст */
    background-color: #16213e; /* Темный фон */
}

/* Стили для списка игр */
.list-group-item {
    background-color: transparent; /* Убираем белый фон */
    color: #e6e6e6; /* Белый текст */
    border: none; /* Убираем границы */
}

.list-group-item:hover {
    background-color: #2d2d42; /* Немного светлее при наведении */
    cursor: pointer;
}

.game-icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}
/* Основной контент */
.main-content {
    padding: 20px;
    background-color: #1a1a2e; /* Темный фон */
}

/* Цвета */
.text-pink {
    color: #ff00ff; /* Фиолетовый цвет */
}

/* Корректировка общего фона */
body {
    background-color: #1a1a2e; /* Темный фон */
    color: #e6e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Кнопка "Подробнее" */
.btn-info {
    background-color: #4cc9f0;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 40px; /* Увеличенная высота */
    padding: 10px 20px; /* Больше отступов */
}

    .btn-info:hover {
        background-color: #3aa7cc;
    }

/* Элементы в карточке турнира */
.tournament-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Расстояние между элементами */
}

.tournament-time,
.tournament-title,
.tournament-meta,
.tournament-tag {
    margin-bottom: 5px; /* Поля между элементами */
}

.tournament-game-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}
.btn-login {
    background-color: #4cc9f0;
    color: white;
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: bold;
}

    .btn-login:hover {
        background-color: #3aa7cc;
        color: #fff;
    }