    {% extends "app/layout.html" %}

    {% block content %}
    <div class="container mt-4">
        <h2>Политика конфиденциальности</h2>
        <div class="card mt-3">
            <div class="card-body">
                <h4>1. Общие положения</h4>
                <p>1.1. Настоящая Политика конфиденциальности регулирует порядок обработки и использования персональных данных пользователей сайта ZXC.Tournament.</p>

                <h4>2. Сбор и использование информации</h4>
                <p>2.1. Мы собираем следующую информацию: имя пользователя, email, пароль (в зашифрованном виде), аватары, информацию о командах и участии в турнирах.</p>

                <h4>3. Защита информации</h4>
                <p>3.1. Мы принимаем все необходимые меры для защиты ваших данных от несанкционированного доступа.</p>

                <h4>4. Изменения в политике</h4>
                <p>4.1. Мы можем время от времени обновлять нашу Политику конфиденциальности.</p>
            </div>
        </div>
    </div>
    {% endblock %}